<h1>Adicionar Etapa</h1>
<form method="POST">
    <label>Nome da Etapa: </label>
    <input type="text" name="nome" placeholder="Nome da etapa" value="{{etapa.nome}}"><br>

    <label>Ordem: </label>
    <input type="number" name="ordem_etapa" placeholder="Ordem da etapa" value="{{etapa.ordem}}"><br>

    <input type="submit" value="Salvar">
</form>