<form method="POST">
    <label>Quantidade de Aulas: </label>   
    <input type="number" name="quantidade" placeholder="Quantidade" value="{{aula.quantidade}}" /><br>

    <label>Ordem da Aula: </label>
    <input type="number" name="ordem" placeholder="Ordem" value="{{aula.ordem}}" /><br>

    <input type="submit" value="Salvar">
</form>