<body>
    <div id="componentes">
        <h1>Objeto de aprendizagem que irá valer presença: </h1>
        <p>A soma do percentual presenças tem que resultar em 100%</p>
        <div>
            <form method="POST">
                <table>
                    <thead>
                        <tr>
                            <th>Componente</th>
                            <th>Percentual de presença</th>
                        </tr>
                    </thead>
                    <tbody>
                {{#cms}}
                        <tr>
                            {{#ja_adicionado}}<td><input name="componente-{{cmid}}" type="checkbox" class="checkbox-coluna-1" id="componente-{{cmid}}" checked/>{{name}}</td>{{/ja_adicionado}}
                            {{^ja_adicionado}}<td><input name="componente-{{cmid}}" type="checkbox" class="checkbox-coluna-1" id="componente-{{cmid}}"/>{{name}}</td>{{/ja_adicionado}}

                            {{#ja_adicionado}}<td><input name="presenca-{{cmid}}" type="number" class="coluna-2 campo-numerico" id="componente-percentual-presenca-{{cmid}}" min="1" max="100" value="{{presenca}}" required/>%</td>{{/ja_adicionado}}
                            {{^ja_adicionado}}<td><input name="presenca-{{cmid}}" type="number" class="coluna-2 campo-numerico" id="componente-percentual-presenca-{{cmid}}" min="1" max="100" disabled required/>%</td>{{/ja_adicionado}}
                        </tr>
                {{/cms}}
                    </tbody>
                </table>
            </div>
            <input type="submit" value="Salvar" id="send"/>
        </form>
    </div>
    <form method="POST"><input type="submit" value="Resetar"/></form>
    <a href="configurar-frequencia.php?courseid={{course_id}}" class="btn btn-secondary">Cancelar</a>
    <script src="templates/js/componente.js"></script>
    <script src="templates/js/validacao.js"></script>
</body>