<body>
    <div id="sections">
        <div class="border border-secondary mb-3">
            <h1 class="bg-light px-3 p-2 h2">Section: {{name}}</h1>
            {{#cms}}
            <div class="d-flex align-items-center">
                <p class="px-3 mr-auto mt-2">{{name}}</p>
                {{^ja_adicionado}}<a class='btn btn-primary mr-3 mb-2' href="componente.php?id={{course_id}}&moduleid={{id}}&post=true">Adicionar</a>{{/ja_adicionado}}
            </div>
            {{/cms}}    
        </div>
    </div>
</body>