<body>
    <a href="{{course_url}}">Voltar para página do curso</a>
    <h1>Configurar frequências do curso</h1>
    <h2 class="mb-5">Curso: {{course.fullname}}</h2>
    <a class='btn-lg btn-block border border-primary mt-3 mb-3' data-mdb-ripple-color="dark" href='aula.php?courseid={{course.id}}'><img src="images/Icon-feather-plus-square.svg" alt="add icon"><span class="p-2"> Adicionar aula</span></a>
    <div class="mt-3">
        {{#aulas}}
        <div class="card mb-3">
            <div class="card-header" id="etapa-heading{{id}}">
                <h5 class="mb-0 d-flex align-items-center">
                    <a class="btn mr-auto p-1" data-toggle="collapse" data-target="#etapa{{id}}" aria-expanded="true" aria-controls="etapa{{id}}"><h2 style="font-size: 2em;" class="mb-0">De {{data_inicio}} à {{data_fim}}</h2></a>
                    <a class='p-2' href='aula.php?courseid={{course.id}}&id={{id}}'><img src="images/Icon-awesome-pencil-alt.svg" alt="edit icon"><span class="p-1"> Editar</span></a>
                    <a class='p-2' href='aula.php?courseid={{course.id}}&id={{id}}&delete=1'><img src="images/Icon-awesome-trash-alt.svg" alt="delete icon"><span class="p-1"> Excluir</span></a>
                </h5>
            </div>
            <div class="card-body">
                <p><span class="h4">Etapa: </span>{{etapa}}</p>
                <p><span class="h4">Hora aula: </span>{{quantidade}}</p>
                <p><span class="h4">Seção: </span>{{sectionname}}</p>
                <p><span class="h4">Conteúdo: </span>{{{conteudo}}}</p>
                <p><span class="h4">Componentes: </span></p>
                {{#componentes}}
                    <div class="card-header border border-second mt-2 align-items-center" id="componente{{id}}">
                        <h5 class="mb-0 d-flex justify-content-between">
                            <span class="mt-2">{{name}} - {{quantidade_aulas}}%</span>
                        </h5>
                    </div>
                {{/componentes}}
                <a class='btn btn-primary mt-3' href="componente.php?courseid={{course.id}}&sectionid={{sectionid}}&aulaid={{id}}">Editar Componentes</a>
            </div>
        </div>
        {{/aulas}}
    </div>
</body>
