<head></head>
<body>
    <main>
        <h1>Frequência</h1>

        <a class='btn btn-primary' href={{detalhar}}>Detalhar</a>
        
        {{#p}}
            <p>Mostrar presença em porcentagem<p>
        {{/p}}


        <table style='width: 100%; color: white;' border=1em>
            <tr>
                <td style='background-color: #cdeb8b'>&nbsp</td>
                <td style='background-color: #ffcc99'>&nbsp</td>
                <td style='background-color: #f8cecc'>&nbsp</td>
                <td style='background-color: #f8cecc'>&nbsp</td>
                <td style='background-color: #f8cecc'>&nbsp</td>
                <td style='background-color: #cdeb8b'>&nbsp</td>
                <td style='background-color: #ffcc99'>&nbsp</td>
                <td style='background-color: #ffcc99'>&nbsp</td>
                <td style='background-color: #f8cecc'>&nbsp</td>
                <td style='background-color: #f8cecc'>&nbsp</td>
            </tr>
        </table>
    </main>
</body>